ion-content {
    --background: none;
    background-image: url('../../../assets/img/fondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

ion-card {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    margin: 10% auto;
    width: 90%;
    border-radius: 12px;
}

ion-card-title {
    text-align: center;
    color: #14a3c7;
}

ion-item {
  --background: transparent;
}

ion-input {
  --padding-start: 10px;
  color: #000;
}

ion-input::part(native)::placeholder {
  color: #666;
  opacity: 1;
}

ion-button {
  --background: #14a3c7;
  --color: #fff;
  --border-radius: 20px;
  margin-top: 10px;
}

ion-button[color="medium"] {
  --background: #14a3c7;
  --color: #fff;
  font-weight: bold;
}
