.container {
  text-align: center;
  margin-top: 20px;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.usuario {
  font-size: 1rem;
  margin-bottom: 20px;
}

.subtitulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
  text-decoration: underline;
}

/* Formulario */
.info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin-bottom: 10px;
}

.form-label {
  flex: 1;
  text-align: left;
  font-weight: 500;
}

ion-input,
ion-select,
input[matInput] {
  flex: 2;
  margin-left: 10px;
  --padding-start: 8px;
  text-align: left;
}

/* Botones */
.button-row {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 1rem;
}

ion-button {
  flex: 1;
  margin: 0 5px;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
  margin-top: 30px;
}

/* Animación izquierda a derecha */
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

.animate-slide {
  animation: slideRight 1s ease;
}
